@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aside-container {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
  }

  .player-container {
    max-height: 10vh;
    min-height: 10vh;
    height: 10vh;
  }

  .side-upper {
    max-height: 90%;
    min-height: 90%;
  }

  .side-bottom {
    max-height: 10%;
    min-height: 10%;
  }
}
